h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #121212;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: size 200;px;
    color: #333333;
}